@media (max-width: 768px) {
  .login-cx {
    display: flex;
    flex-direction: column;
    width: 100% !important;
    height: 100vh;
    gap: 0;
  }
  .ds-bg {
    width: 100% !important;
    height: 30vh !important;
  }
  .p-md-0 {
    padding: 0;
  }

  .login-form {
    padding: 0 20px;
    width: 100% !important;
    height: fit-content !important;
    background-color: white;
    /* background-image: url("../../assets/images/bg-pattern-circles.svg"); */
    background-repeat: no-repeat;
    background-position: 200px 400px !important;
  }
  .ms-bg {
    display: none;
    width: 100%;
    height: 300px;
    background: url("../../../public/automated-vaccine-system-carousel.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 0px;
  }
  
  .ms-header {
    display: flex !important;
    width: 100%;
  }
  
  body {
    height: 100vh;
  }
  .modal-show {
   
    width: 100%;
    left: 0 !important;
    padding: 0 7px!important;
  }
  .class-modal {
   
    width: 100% !important;
  }
  .page-header{
   
    display: none !important;
  }
  .main-facility{
  
    display: flex;
    justify-content: center;
    padding: 0;
  }
  .md-facility{
     
      width: 100% !important;
      display: flex !important;
      align-items: center;
      justify-content: center;
  }
  .containerh{
padding-left: 9px;
padding-right: 9px;
    width: 100%;
  }
  .session-list{
   
     width: 100%;
  }
  .session-header{
    padding-top: 2px !important;
  padding-bottom: 4px !important;

  }
  .session-card{
  
  padding-top: 2px !important;
  padding-bottom: 0 !important;
      width: 100% !important;
  }
  .session-info h3{
    font-size: 14px !important;
   
  }
   .session-info p{
    font-size: 12px !important;
      
  }
  .status-dot{
    width: 20px !important;
    height: 10px !important;
  }
  .ms-create-facility{

    padding: 0 5px !important;
  
  }
  .ms-wz-card{
   
    width: 100% !important;
  }
  .wizard-content{
padding: 10px !important;
  }
  .btn-row{
  
    padding: 0 !important;
    justify-content: space-between;
  }
  .btn-main{
    width: 50% !important;
  }
  .md-back{
    width: 50%;
  }
  .md-create-facility-title{
    padding: 10px;
  }
  .md-create-facility-title h2{
font-size: 16px !important;
  }
    .md-create-facility-title p{
font-size: 13px !important;
  }
  .md-add-admin-title{
    font-size: 14px;
  }
  .msg{
    background-color: white;

  }
  .msg p{
    padding: 10px;
    color: red;
  }
}
